player-connection-mode=Listen
player-connection-guid=3101486997
player-connection-debug=0
player-connection-project-name=Prototype 2026.1
player-connection-ip=192.168.1.11
player-connection-ip=10.5.0.2
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=ec147ab6bb4b43139c087689cb9ee4fe
